<style>
    .clear {
        padding-top: 4%;
    }

    .no-records {
        background-color: #eaeeef;
        color: darkgray;
    }
</style>

<div class="content-wrapper">
    <div class="row">
        <div class="col-md-12">
            <div class="trans-list-head">{{'HazardousMaterialInformation' | translate}}</div>
            <div class="panel panel-flat bdr bdrt pb20 mt-15">
                <div class="panel-body">
                    <!-- #region Search Panel-->
                    <div class="col-md-12 mt20">
                        <fieldset ng-disabled="$storage.get('globalDisableFlag') || $storage.get('voucherFlag') || $storage.get('isPcsSuperUser')">
                            <button ng-click="GoToHazardousMaterialDetails()" title="{{'AddNew'|translate}}"
                                    type="button" class="btn btn-green pull-right">
                                <span class="fa fa-plus"></span>
                                {{'AddNew'|translate}}
                            </button>
                        </fieldset>
                    </div>
                    <div class="col-md-12  mt20">
                        <div class="alert alert-success" ng-show="savedSuccess && isEditing">
                            <span>{{ Message|translate}}</span>
                            <a ng-click="savedSuccess=false" class="close" style="font-size:19px">&times;</a>
                        </div>
                        <div class="table-responsive mb20">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>{{'Harmonized'|translate}}</th>
                                        <th>{{'OrginCountry'|translate}}</th>
                                        <th>{{'MaterialId'|translate}}</th>
                                        <th>{{'MaterialName'|translate}}</th>
                                        <th>{{'GoodsClassification'|translate}}</th>
                                        <th>{{'PermitNumber'|translate}}</th>
                                        <th>{{'Weight'|translate}}</th>
                                        <th>{{'GrossWeight'|translate}}</th>
                                        <th>{{'Amount'|translate}}</th>
                                        <th>{{'Action'|translate}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr dir-paginate="hazardousMaterialModel in hazardousMaterials | itemsPerPage: 10">
                                        <td>
                                            {{hazardousMaterialModel.HarmonizedCode}}
                                        </td>
                                        <td ng-show="languageSelected=='en'">
                                            {{hazardousMaterialModel.CountryEng}}
                                        </td>
                                        <td ng-show="languageSelected=='ae'">
                                            {{hazardousMaterialModel.CountryArb}}
                                        </td>
                                        <td>
                                            {{hazardousMaterialModel.MaterialID}}
                                        </td>
                                        <td style="word-wrap: break-word;min-width: 160px;max-width: 160px;white-space:normal;" ng-show="languageSelected=='en'">
                                            {{hazardousMaterialModel.MaterialNameEng}}
                                        </td>
                                        <td style="word-wrap: break-word;min-width: 160px;max-width: 160px;white-space:normal;" ng-show="languageSelected=='ae'">
                                            {{hazardousMaterialModel.MaterialNameArb}}
                                        </td>
                                        <td style="word-wrap: break-word;min-width: 160px;max-width: 160px;white-space:normal;">
                                            {{hazardousMaterialModel.GoodsClassification}}
                                        </td>
                                        <td>
                                            {{hazardousMaterialModel.PermitNumber}}
                                        </td>
                                        <td>
                                            {{hazardousMaterialModel.Weight}}
                                        </td>
                                        <td>
                                            {{hazardousMaterialModel.Gross}}
                                        </td>
                                        <td>
                                            {{hazardousMaterialModel.Amount}}
                                        </td>
                                        <td>
                                            <fieldset ng-disabled="$storage.get('globalDisableFlag') || $storage.get('voucherFlag') || $storage.get('isPcsSuperUser')">
                                                <a class="alwaysEnabled" title="{{'Edit'|translate}}" ng-click="editHazardous(hazardousMaterialModel)">
                                                    <i class="fa fa-edit" aria-hidden="true"></i>
                                                </a>
                                                <a title="{{'Delete'|translate}}" ng-click="deleteHazardous(hazardousMaterialModel);">
                                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                                </a>
                                            </fieldset>
                                        </td>
                                    </tr>
                                    <tr ng-show="hazardousMaterials == null">
                                        <td colspan="10">
                                            {{'NoItems'|translate}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-12 ">
                        <!--<span class="col-md-4 pl-15" ng-show="containerList.length > 0"><strong>{{'total' | translate}} : <span class="num">{{totalCount}}</span></strong></span>-->
                        <div class="pull-right mr-10">
                            <a class="btn btn-green alwaysEnabled" ng-click="gotoInvoiceDetails()">{{'Back' | translate}}</a>
                        </div>
                    </div>
                    <div class="col-md-12 pagination pl25 mb20" ng-hide="hazardousMaterials == null">
                        <dir-pagination-controls direction-links="true" boundary-links="true">
                        </dir-pagination-controls>
                    </div>
                    <!-- #endregion Container List-->
                </div>
            </div>
        </div>
    </div>
    <div data-ng-include="'../Account/LoadView?path=~/Views/Shared/_ModalPopup.cshtml'"></div>
</div>





