<div class="page-content">
    <!-- Main content -->
    <div class="content-wrapper wide-div">

        <div class="panel panel-flat bdr pb20">
            <div class="pull-right mb-10 mt20">
                <a class="btn btn-dark-grey btn-block"
                   ui-sref="transExpCourierWayBillList"
                   ui-sref-opts="{reload: true, notify: true}">
                    {{'Back' | translate}}
                </a>
            </div>
            <form name="expCourierForm" ng-submit="addUpdateExpressCourier()" novalidate class="form-horizontal">
                <div class="panel-heading panel-flat mt20 pl-20">
                    <div class="row">
                        <div class="col-md-11">
                            {{'ExpressCou' | translate}}
                        </div>
                        <div class="col-md-1 pull-right ">
                            <fieldset ng-disabled="isSuperUser == 'True'">
                                <button type="submit" class="btn btn-green" ng-disabled="IsDisableInput"
                                        ng-click="SaveExpressCourierInformation()">
                                    {{'Save' | translate}}
                                </button>
                            </fieldset>
                        </div>
                    </div>
                </div>

                <div class="panel-body mt-10">
                    <fieldset ng-disabled="isSuperUser == 'True'">
                        <div class="form-group">
                            <!-- Agent field start -->
                            <div class="col-md-5">
                                <label class="control-label col-md-4">{{'ExpressCourierAgentCode' | translate}}</label>
                                <div class="col-md-8">
                                    <div id="ddlExpressAgent"
                                         ng-keydown="expressAgentKeyDown($event)"
                                         class="col-md-10" disable-input="IsDisableInput"
                                         angucomplete-alt
                                         placeholder="{{'Find' | translate}}..."
                                         ng-model="selectedExpressAgent"
                                         local-data="expressAgents"
                                         search-fields="AgentCode,AgentDescEng,AgentDescArb"
                                         title-field="AgentCode,AgentDescEng,AgentDescArb"
                                         minlength="3" show-Title="true"
                                         search-str="searchCourierAgentText"
                                         input-class="form-control white"
                                         match-class="highlight"
                                         input-name="ddlExpressAgent"
                                         selected-object="selectedExpressAgentObj"
                                         input-changed="onExpressAgentChange">
                                    </div>
                                    <a class="col-md-1 mt-10">
                                        <i class="fa fa-search" ng-hide="IsDisableInput"
                                           aria-hidden="true"
                                           title="{{'Click' | translate}}"
                                           ng-click="openExpressAgentLookup()">
                                        </i>
                                    </a>
                                    <span class="validation-error-label col-md-12"
                                          ng-show="invalidExpressCourierAgent">
                                        {{'InvalidExpressCourierAgentMessage'|translate}}
                                    </span>
                                </div>
                            </div>
                            <!-- Agent Field end -->
                            <!-- HAWB start -->
                            <div class="col-md-4">
                                <label class="control-label col-md-4">{{'AirwayBillNo' | translate}}</label>
                                <div class="col-md-7">
                                    <input type="text"
                                           class="form-control"
                                           restrict-Space ng-disabled="IsDisableInput"
                                           ng-model="courierCode"
                                           maxlength="30" />
                                </div>
                            </div>
                            <!-- HAWB end -->
                        </div>
                        <div class="form-group">
                            <!-- Center Code start -->
                            <div class="col-md-5">
                                <label class="control-label col-md-4">{{'ExpressCourierCenter' | translate}}</label>
                                <div class="col-md-8" style="width: 55%;">
                                    <input type="text" class="form-control" ng-model="selectedCourierCenter"
                                           restrict-Space disabled="disabled"
                                           maxlength="30" />
                                </div>
                                <!--<div class="col-md-8">
                                    <div id="ddlExpressCourierCenter"
                                         ng-keydown="courierCenterKeyDown($event)"
                                         class="col-md-10"
                                         angucomplete-alt
                                         placeholder="{{'Find' | translate}}..."
                                         ng-model="selectedCourierCenter"
                                         local-data="courierCenterCodes"
                                         search-fields="ExpressCenterCode,ExpressCenterEng,ExpressCenterArb"
                                         title-field="ExpressCenterCode,ExpressCenterEng,ExpressCenterArb"
                                         minlength="1" show-Title="true"
                                         search-str="searchCourierCenterText"
                                         input-class="form-control white"
                                         match-class="highlight"
                                         input-name="ddlExpressCourierCenter"
                                         selected-object="selectedCourierCenterObj"
                                         input-changed="onCourierCenterChange">
                                    </div>
                                    <a class="col-md-1 mt-10">
                                        <i class="fa fa-search"
                                           aria-hidden="true"
                                           title="{{'Click' | translate}}"
                                           ng-click="openCourierCenterLookup()">
                                        </i>
                                    </a>
                                    <span class="validation-error-label col-md-12"
                                          ng-show="invalidCourierCenter">
                                        {{'InvalidCourierCenterMessage'|translate}}
                                    </span>
                                </div>-->
                            </div>
                            <!-- Center Code end -->


                        </div>
                        <div class="form-group" disabled="disabled">
                            <div class="col-md-5">
                                <label class="control-label col-md-4">{{'ExpressCourierCreatedDate' | translate}}</label>
                                <div class="col-md-6" style="width: 55%;">
                                    <input type="text" class="form-control"
                                           restrict-Space disabled="disabled"
                                           ng-model="CourierCreatedDate"
                                           maxlength="30" />
                                </div>
                            </div>
                            <!-- Created User start -->
                            <div class="col-md-5" disabled="disabled">
                                <label class="control-label col-md-3">{{'ExpressCourierCreatedUser' | translate}}</label>
                                <div class="col-md-6">
                                    <input type="text" class="form-control"
                                           restrict-Space disabled="disabled"
                                           ng-model="selectedCourierCreatedUser"
                                           maxlength="30" />
                                </div>
                                <!--<div class="col-md-8">
                                    <div id="ddlExpressCourierCreatedUser"
                                         ng-keydown="expressCreatedUserKeyDown($event)"
                                         class="col-md-10" disabled="disabled"
                                         angucomplete-alt
                                         placeholder="{{'Find' | translate}}..."
                                         ng-model="selectedCourierCreatedUser"
                                         local-data="expressCreatedUser"
                                         search-fields="AgCode,AgDescEng,AgDescArb"
                                         title-field="AgCode,AgDescEng,AgDescArb"
                                         minlength="1" show-Title="true"
                                         search-str="searchCourierCreatedUserText"
                                         input-class="form-control white"
                                         match-class="highlight"
                                         input-name="ddlExpressCourierCreatedUser"
                                         selected-object="selectedCourierCreatedUserObj"
                                         input-changed="onExpressCreatedUserChange">
                                    </div>
                                    <a class="col-md-1 mt-10">
                                        <i class="fa fa-search"
                                           aria-hidden="true"
                                           title="{{'Click' | translate}}"
                                           ng-click="openExpressCreatedUserLookup()">
                                        </i>
                                    </a>
                                    <span class="validation-error-label col-md-12"
                                          ng-show="invalidCourierCenter">
                                        {{'InvalidCourierCenterMessage'|translate}}
                                    </span>
                                </div>-->
                            </div>
                            <!-- Created User end -->
                        </div>
                    </fieldset>
                </div>

            </form>

            <!-- modals start -->
            <div class="modal" id="expressAgentLookup" role="dialog">
                <div style="width: 50%" class="modal-dialog">
                    <div style="min-height: 200px" class="modal-content">
                        <div class="modal-header">
                            <button type="button"
                                    class="close"
                                    data-dismiss="modal"
                                    ng-click="closeExpressAgent()">
                                &times;
                            </button>
                            <h5 class="modal-title bold">{{'ExpressCourierAgent' | translate}}</h5>
                        </div>
                        <div style="overflow: auto" class="modal-body">
                            <input id="searchExpressAgentText"
                                   type="text"
                                   ng-model="searchExpressAgentText"
                                   class="form-control disabledInputWithBorder col-md-12" />
                            <div class="table-responsive mb20">
                                <div class="small-loader" ng-show="expressAgents == null && !stoppedSearch"><i class="icon-spinner2 spinner position-center"></i></div>
                                <table class="table table-bordered lookupTable">
                                    <thead>
                                        <tr>
                                            <th width="10%">{{'Code'|translate}}</th>
                                            <th>{{'Description'|translate}}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-class="{selected: expressAgentItem.AgentCode==expressAgentItemSelected.AgentCode}"
                                            ng-click="setExpressAgent(expressAgentItem)"
                                            dir-paginate="expressAgentItem in expressAgents | itemsPerPage: 10"
                                            current-page="lookUpCurrentPageExpressAgent"
                                            pagination-id="expressAgentPager">
                                            <td>
                                                {{expressAgentItem.AgentCode}}
                                            </td>
                                            <td style="word-wrap: break-word; min-width: 160px; max-width: 160px; white-space: normal;">
                                                {{expressAgentItem.AgentDescEng}} {{expressAgentItem.AgentDescEng}}
                                            </td>
                                        </tr>
                                        <tr ng-show="expressAgents == null || expressAgents.length == 0">
                                            <td colspan="10">
                                                {{'NoItems'|translate}}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-12 pagination pl25 mb20"
                                 ng-hide="expressAgents == null">
                                <dir-pagination-controls pagination-id="expressAgentPager"
                                                         direction-links="true"
                                                         boundary-links="true">
                                </dir-pagination-controls>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal" id="courierCenterLookup" role="dialog">
                <div style="width: 50%" class="modal-dialog">
                    <div style="min-height: 200px" class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" ng-click="closeCourierCenter()">&times;</button>
                            <h5 class="modal-title bold">{{'ExpressCourierCenter' | translate}}</h5>
                        </div>
                        <div style="overflow: auto" class="modal-body">
                            <input id="searchCourierCenterText"
                                   type="text"
                                   ng-model="searchCourierCenterText"
                                   class="form-control disabledInputWithBorder col-md-12" />
                            <div class="table-responsive mb20">
                                <table class="table table-bordered lookupTable">
                                    <thead>
                                        <tr>
                                            <th width="10%">{{'Code'|translate}}</th>
                                            <th>{{'Description'|translate}}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-class="{selected: courierCenterItem.ExpressCenterCode==courierCenterItemSelected.ExpressCenterCode}"
                                            ng-click="setCourierCenter(courierCenterItem)"
                                            dir-paginate="courierCenterItem in courierCenterCodes | itemsPerPage: 10"
                                            current-page="lookUpCurrentPageCourierCenter"
                                            pagination-id="courierCenterPager">
                                            <td>
                                                {{courierCenterItem.ExpressCenterCode}}
                                            </td>
                                            <td style="word-wrap: break-word; min-width: 160px; max-width: 160px; white-space: normal;">
                                                {{courierCenterItem.ExpressCenterEng}} {{courierCenterItem.ExpressCenterArb}}
                                            </td>
                                        </tr>
                                        <tr ng-show="courierCenterCodes == null">
                                            <td colspan="10">
                                                {{'NoItems'|translate}}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-12 pagination pl25 mb20" ng-hide="courierCenterCodes == null">
                                <dir-pagination-controls pagination-id="courierCenterPager"
                                                         direction-links="true"
                                                         boundary-links="true">
                                </dir-pagination-controls>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="modal" id="expressCreatedUserLookup" role="dialog">
                <div style="width: 50%" class="modal-dialog">
                    <div style="min-height: 200px" class="modal-content">
                        <div class="modal-header">
                            <button type="button"
                                    class="close"
                                    data-dismiss="modal"
                                    ng-click="closeExpressAgent()">
                                &times;
                            </button>
                            <h5 class="modal-title bold">{{'ExpressCourierCreatedUser' | translate}}</h5>
                        </div>
                        <div style="overflow: auto" class="modal-body">
                            <input id="searchExpressCreatedUserText"
                                   type="text"
                                   ng-model="searchExpressCreatedUserText"
                                   class="form-control disabledInputWithBorder col-md-12" />
                            <div class="table-responsive mb20">
                                <table class="table table-bordered lookupTable">
                                    <thead>
                                        <tr>
                                            <th width="10%">{{'Code'|translate}}</th>
                                            <th>{{'Description'|translate}}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-class="{selected: expressAgentItem.Code==plateColorItemSelected.Code}"
                                            ng-click="setExpressCreatedUser(expressAgentItem)"
                                            dir-paginate="expressAgentItem in expressCreatedUser | itemsPerPage: 10"
                                            current-page="lookUpCurrentPageExpressCreatedUser"
                                            pagination-id="expressCreatedUserPager">
                                            <td>
                                                {{expressAgentItem.AgCode}}
                                            </td>
                                            <td style="word-wrap: break-word; min-width: 160px; max-width: 160px; white-space: normal;">
                                                {{expressAgentItem.AgDescEng}} {{expressAgentItem.AgDescEng}}
                                            </td>
                                        </tr>
                                        <tr ng-show="plateColors == null">
                                            <td colspan="10">
                                                {{'NoItems'|translate}}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-12 pagination pl25 mb20"
                                 ng-hide="expressAgents == null">
                                <dir-pagination-controls pagination-id="expressCreatedUserPager"
                                                         direction-links="true"
                                                         boundary-links="true">
                                </dir-pagination-controls>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- modals end -->
            <!-- </div> -->
        </div>
    </div>
</div>