<div class="modal" id="maqasaCargoDetails" role="dialog">
    <div style="width:70%" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" ng-click="cancelCargo()">&times;</button>
                <h4 class="modal-title bold">{{'GoodsDescription' | translate}}</h4>
            </div>
            <div class="modal-body">
                <div class="row g-grey-shade">
                    <div class="col-md-12">
                        <div class="form-horizontal">
                            <div class="col-md-9">
                                <div class="form-group">
                                    <label class="control-label col-lg-3">{{'GoodsDescription' | translate}}</label>
                                    <div class="col-lg-6">
                                        <input type="text" id="txtGoodsDesc" ng-model="searchChassisParameter.searchString" ng-change="searchImportByDefault('cargoDesc')" class="form-control" placeholder="">
                                    </div>
                                    <button type="button" class="btn btn-green col-lg-3" ng-click="searchCargo()">{{'Find' | translate}}<i class="fa fa-search" aria-hidden="true"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="table-responsive mt20 mb20">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th width="2%">
                                    
                                </th> 
                                <th>{{'GoodsDescription'|translate}}</th>   
                            </tr>
                        </thead>
                        <tbody>
                            <tr dir-paginate="Item in allCargoDetailsData | itemsPerPage: searchChassisParameter.pageSize" total-items="totalCountCargo" pagination-id="cargoPagination" current-page="searchChassisParameter.pageNumber">
                                <td>
                                    <div class="form-group form-checkbox">
                                        <div class="fleft">
                                            <label class="control control--checkbox">
                                                <input ng-model="selectedCargoIdsTemp[Item.CargoDescription]" ng-change="pushOrPopSelectedCargo(Item)" ng-checked="selectedCargoIdsTemp[Item.CargoDescription]" type="checkbox" />
                                                <span class="control__indicator"></span>
                                            </label>
                                        </div>
                                    </div>
                                </td> 
                                <td>
                                    {{Item.CargoDescription}}
                                </td>
                            </tr>
                            <tr class="no-records" ng-show="allCargoDetailsData == null || allCargoDetailsData.length == 0"><td colspan="9">{{'NoItems' | translate}}</td></tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-12 pagination pl25 mb20" ng-hide="allCargoDetailsData == null || allCargoDetailsData.length == 0">
                    <dir-pagination-controls direction-links="true" pagination-id="cargoPagination" boundary-links="true" on-page-change="loadMoreCargoRecords(newPageNumber)">
                    </dir-pagination-controls>
                    <span class="col-md-2 pull-right" ng-show="allCargoDetailsData.length > 0"><strong>{{'total' | translate}} : <span class="num">{{totalCountCargo}}</span></strong></span>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" ng-click="saveCargoDetails()" title="{{'Save'|translate}}" class="btn btn-green mt20 pull-right">{{'Save'|translate}}</button>
                <button ng-click="cancelCargo()" style="margin-right:10px" type="button" title="{{'Close'|translate}}" class="btn btn-default mt20 pull-right">{{'Cancel'|translate}}</button>
            </div>
        </div>
    </div>
</div>

    
