<style>
    /*.select {
       color: #893A53 !important;
        height: 30px !important;
        width: 99% !important;
    }*/
    /*.picker__select--month, .picker__select--year {
    color : #000 !important;
    }*/
</style>


<div class="content-wrapper">
    <div class="row">
        <div class="col-md-12">
            <h4>{{'PendingTrans' | translate}}</h4>
            <div class="panel panel-flat bdr pb20">
                <div class="panel-body">
                    <!-- #region Search Panel-->
                    <div class="row g-grey-shade pb-20">
                        <div class="sub-title"><h6>{{'SearchBy' | translate}}</h6></div>
                        <div class="col-md-12 form-horizontal">
                            <div class="form-group">
                                <div class="col-md-4">
                                    <label class="control-label col-md-4">{{'TransportMode' | translate}}</label>
                                    <div class="col-md-8">
                                        <select id="ddlModeTransport" class="form-control select" ng-model="selectedTransMode"
                                                ng-options="transMode.key as transMode.value for transMode in transModes"
                                                ng-change="onModeChanged()"></select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label class="control-label col-md-4">{{'CenterCode' | translate}}</label>
                                    <div class="col-md-8">
                                        <select id="ddlCenterCode" class="form-control select" ng-model="selectedCenterCode"
                                                ng-options="centerCode.Code as (centerCode.Code + '  ' + centerCode.EnglishName + '   ' + centerCode.ArabicName) for centerCode in centerCodes"
                                                ng-change="onCenterCodeChanged()"></select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label class="control-label col-md-4">{{'JobNumber' | translate}}</label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control" only-numbers restrict-Space ng-model="searchParams.jobNumber" maxlength="11" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4">
                                    <label class="control-label col-md-4">{{'StartDate' | translate}}</label>
                                    <div class="col-md-8">
                                        <div class="input-group">
                                            <input type="text" class="form-control pickadate" placeholder="- Select Start Date -" ng-model="searchParams.startDate">
                                            <span class="input-group-addon "><i class="icon-calendar22"></i></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label class="control-label col-md-4">{{'EndDate' | translate}}</label>
                                    <div class="col-md-8">
                                        <div class="input-group">
                                            <input type="text" class="form-control pickadate" placeholder="- Select End Date -" ng-model="searchParams.endDate">
                                            <span class="input-group-addon "><i class="icon-calendar22"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--<div class="form-group">
                                <div class="col-md-6">
                                    <label class="control-label col-md-3">{{'JobNumber' | translate}}</label>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" only-numbers restrict-Space ng-model="searchParams.jobNumber" maxlength="11" />
                                    </div>
                                </div>
                            </div>-->
                        </div>
                    </div>
                    <div class="pull-right">
                        <button type="button" class="btn btn-default" ng-click="clearSearchFilters()" ng-disabled="searchParams.jobNumber == '' && searchParams.startDate == '' && searchParams.endDate == ''">
                            {{'Clear' | translate}}<i class="fal fa-times-square" aria-hidden="true"></i>
                        </button>
                        <button type="button" class="btn btn-green" ng-click="getPendingTransBySearch()">
                            {{'Find' | translate}}<i class="fa fa-search" aria-hidden="true"></i>
                        </button>
                    </div>
                    <!-- #endregion Search Panel -->
                    <!-- #region All Pending Transactions List-->

                    <div class="col-md-12 mt-20">
                        <div class="panel panel-flat bdr bdrt pb20">
                            <div class="tabbable">
                                <ul class="nav nav-tabs nav-tabs-solid nav-justified">
                                    <li class="active"><a data-toggle="tab" data-target="#pendingYellowChannel" ng-click="onTabChanged('Y')">{{'YellowCh' | translate}}</a></li>
                                    <li><a data-toggle="tab" data-target="#pendingBills" ng-click="onTabChanged('P')">{{'PendingBills' | translate}}</a></li>
                                </ul>
                                <div class="tab-content">
                                    <!--#region Yellow Channel Transactions-->
                                    <div id="pendingYellowChannel" class="tab-pane active">
                                        <div class="col-md-12">

                                            <div class="table-responsive mt20 mb20">
                                                <table class="table table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th>{{'JobNumber' | translate}}</th>
                                                            <th>{{'OriginalCh' | translate}}</th>
                                                            <th>{{'OverrideCh' | translate}}</th>
                                                            <th>{{'Date' | translate}}</th>
                                                            <th>{{'Reasons' | translate}}</th>
                                                            <th>{{'Action' | translate}}</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr dir-paginate="item in yellowChannelTransList | itemsPerPage: searchParams.pageSize" total-items="totalCount" current-page="searchParams.pageNumber" pagination-id="yellowChList">
                                                            <td>{{item.JobNumber}}</td>
                                                            <td>{{item.OrignalChannel}}</td>
                                                            <td>{{item.OverRideChannel}}</td>
                                                            <td>{{item.OverRideChannelDate | date : 'dd/MM/yyyy hh:mm:ss'}}</td>
                                                            <td>{{item.Reasons}}</td>
                                                            <td>
                                                                <fieldset ng-disabled="isSuperUser == 'True'">
                                                                    <button type="button" class="btn btn-green" ng-click="processPendingTrans(item.JobNumber, 'Y')">{{'Process' | translate}}</button>
                                                                </fieldset>
                                                            </td>
                                                        </tr>
                                                        <tr class="no-records" ng-show="yellowChannelTransList == null || yellowChannelTransList.length == 0">
                                                            <td colspan="6">
                                                                {{'NoItems' | translate}}
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>

                                            <div class="col-md-12">
                                                <span class="col-md-4 pl-15" ng-show="yellowChannelTransList.length > 0"><strong>{{'total' | translate}} : <span class="num">{{totalCount}}</span></strong></span>
                                            </div>

                                            <div class="col-md-12 pagination" ng-hide="yellowChannelTransList == null || yellowChannelTransList.length == 0">
                                                <dir-pagination-controls direction-links="true" boundary-links="true" pagination-id="yellowChList"
                                                                         on-page-change="loadMoreRecords(newPageNumber)">
                                                </dir-pagination-controls>
                                            </div>
                                        </div>
                                    </div>
                                    <!--#region Yellow Channel Transactions-->
                                    <!--#region Pending Transactions-->
                                    <div id="pendingBills" class="tab-pane">
                                        <div class="col-md-12">

                                            <div class="table-responsive mt20 mb20">
                                                <table class="table table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th>{{'JobNumber' | translate}}</th>
                                                            <th>{{'BillType' | translate}}</th>
                                                            <th>{{'BillNo' | translate}}</th>
                                                            <th>{{'Year' | translate}}</th>
                                                            <th>{{'Center' | translate}}</th>
                                                            <th>{{'StaffCode' | translate}}</th>
                                                            <th>{{'Agent' | translate}}</th>
                                                            <th>{{'Action' | translate}}</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr dir-paginate="item in pendingBills | itemsPerPage: searchPendingBillsParams.pageSize" total-items="billsTotalCount" current-page="searchPendingBillsParams.pageNumber" pagination-id="pendingBillsList">
                                                            <td>{{item.JobNumber}}</td>
                                                            <td>{{item.BillType}}</td>
                                                            <td>{{item.BillNumber}}</td>
                                                            <td>{{item.CurrentYear}}</td>
                                                            <td>{{item.CenterCode}}</td>
                                                            <td>{{item.AgentUser}}</td>
                                                            <td>{{item.AgentUserName}}</td>
                                                            <td>
                                                                <fieldset ng-disabled="isSuperUser == 'True'">
                                                                    <button type="button" class="btn btn-green" ng-click="processPendingTrans(item.JobNumber, 'P')">{{'Process' | translate}}</button>
                                                                </fieldset>
                                                            </td>
                                                        </tr>
                                                        <tr class="no-records" ng-show="pendingBills == null || pendingBills.length == 0">
                                                            <td colspan="8">
                                                                {{'NoItems' | translate}}
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>

                                            <div class="col-md-12">
                                                <span class="col-md-4 pl-15" ng-show="pendingBills.length > 0"><strong>{{'total' | translate}} : {{billsTotalCount}}</strong></span>
                                            </div>

                                            <div class="col-md-12 pagination" ng-hide="pendingBills == null || pendingBills.length == 0">
                                                <dir-pagination-controls direction-links="true" boundary-links="true" pagination-id="pendingBillsList"
                                                                         on-page-change="loadMoreBills(newPageNumber)">
                                                </dir-pagination-controls>
                                            </div>
                                        </div>
                                    </div>
                                    <!--#region Pending Transactions-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- #endregion All Pending Transactions List-->
                </div>
            </div>
        </div>
    </div>

    <div data-ng-include="'../Account/LoadView?path=~/Views/Shared/_ModalPopup.cshtml'"></div>

</div>

<script>
    $(".pickadate").pickadate({
        format: 'dd/mm/yyyy',
        selectYears: true,
        selectMonths: true
    });

</script>


